entrypoint = "server.js"
modules = ["nodejs-20"]

run = "npm start"

hidden = [".config", "package-lock.json"]

[env]
NODE_ENV = "test"

[nix]
channel = "stable-24_05"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json"]

[[ports]]
localPort = 3000
externalPort = 80

[deployment]
build = ["npm", "install"]
run = ["npm", "start"]
deploymentTarget = "cloudrun"
