entrypoint = "server.js"
modules = ["nodejs-20"]

run = "npm start"
onBoot = "npm install"

hidden = [".config"]

[env]
NODE_ENV = "test"
PORT = "3000"

[nix]
channel = "stable-24_05"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json"]

[[ports]]
localPort = 3000
externalPort = 80

[deployment]
build = "npm install"
run = "npm start"
deploymentTarget = "cloudrun"

[deployment.env]
NODE_ENV = "test"
