entrypoint = "server.js"
modules = ["nodejs-20"]

run = "npm start"
onBoot = "npm install"

hidden = [".config"]

[env]
NODE_ENV = "test"

[nix]
channel = "stable-24_05"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json"]

[[ports]]
localPort = 3000
externalPort = 80

[deployment]
build = ["sh", "-c", "npm ci --omit=dev"]
run = ["sh", "-c", "npm start"]
deploymentTarget = "cloudrun"
